<header data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"     
     data-sly-use.imageTemplate="image.html"
     data-sly-use.titleTemplate="title.html"
     data-sly-use.descriptionTemplate="description.html"
     data-sly-use.actionsTemplate="actions.html"
     data-sly-test.hasContent="${teaser.imageResource || teaser.title || teaser.description || teaser.actions.size > 0}"
     class="masthead ${!wcmmode.disabled && teaser.imageResource ? 'cq-dd-image' : ''}">

  <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>

  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">${teaser.description @ context='html'}</div>
      <div class="intro-heading text-uppercase">${teaser.title || currentPage.pageTtile || currentPage.name}</div>
      
      <a data-sly-test="${teaser.actionsEnabled}" data-sly-repeat.action="${teaser.actions}"
          class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
          href="${action.URL}">${action.title}</a>
    </div>
      
  </div>

</header>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty=!hasContent}"></sly>
